<%- include("../partials/header") %>
<br><br><br><br><br><br>
<section class="hero">
 <br><br> <br><br> <br><br>
  <h3 style="font-size: 25px;color: white;text-align: center;">มาแสดงความคิดเห็นกันเถอะ</h3>
  <br><br>
  <div class="social">
    <form action="edu/post/<%= post._id %>/comment"  method="POST">
      <label for="fname">comment</label>
      <input type="text" id="fname"name="comment[text]" placeholder="comment">

    
      <input type="submit" value="Submit">
    </form>
  </div>
</section>

<%- include("../partials/footer") %>
