


<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#000000;
   color: white;
   text-align: center;
}
@media screen and (max-width:600px) {
    .footer,.content, .place, .phone, .email {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
</style>
</head>
<body>

<div class="footer">
       <h2>Address</h2>
         <div class="content">
             <div class="place">
                 <span class="fas fa-map-marker-alt">          126 Pracha Uthit Rd, Bang Mot, Thung Khru, Bangkok 10140</span>
                 
             </div>
             <div class="phone">
                <span class="fas fa-phone">          098-9847077</span>
               
            </div>
            <div class="email">
                <span class="fas fa-envelope">          june_25431@hotmail.com</span>
                
            </div>
         </div>
</div>

</body>
</html> 