<%- include("partials/header") %>


<section style=" width: 100%; height: 100vh; background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(https://cdn.marketingoops.com/wp-content/uploads/2014/12/education-booksOK.jpg);background-size: cover;">
    <div class="text">
        <% if(currentUser && currentUser.isAdmin) { %>
            <h1>You are admin</h1>
            <a href="/admin" class="btn" >ไปหน้าแอดมิน</a>
           
            <% } else{ %>
        <h2>Education</h2>
        <h1>คลังความรู้</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href ="#" class="btn">Learn more</a>
        <% } %>
            
    </div>
        
    

</section>

<%- include("partials/footer") %>