<%- include("partials/header") %>
<br><br><br><br><br>
<section class="hero">
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <h1  class="toggle-btn" ><center>Log In</center></h1>
            </div>
            <form action="/login" method="POST" id="login" class="input-group">
                <input type="text" class="input-field" name="username" placeholder="Username" required>
                <input type="text" class="input-field" name="password" placeholder="Enter Password" required>
                <br><br><br>
                <button  class="submit-btn">Log in</button>
                <br><br>
                <button  class="submit-btn" ><a href="/signup">Register</a></button>
            </form>
            
        </div>
        <button class="button button3"  ><a href="/">กลับไปหน้าหลัก</a>
        </button>
      
    </div>

</section>

<%- include("partials/footer") %>
