<%- include("partials/header") %>


<section class="hero">
    <div class="text">
        
        <h2>Education</h2>
        <h1>คลังความรู้ ONET ม.6</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <a href ="#" class="btn">Learn more</a>
 
    </div>

</section>

<%- include("partials/footer") %>