<%- include("partials/header") %>

<section class="hero">
<br><br><br><br><br><br><br> 
<div class="holdingcontainer">
      <div class="topic">
            <h2>คลังข้อสอบ onet ปี 2561</h2>
      </div>
            <div class ="pic-area" >
                  <a href="/edu/quiz/thaiquiz" >
                  <img src="https://sites.google.com/a/samakkhi.ac.th/keiyw-kab-phasa-thiy/_/rsrc/1488422650332/home/20161121160657.png" >
                  <div class="text-area">
                        <h2>รวมข้อสอบภาษาไทย</h2>
                        <p>ข้อสอบ ONET ภาษาไทย ปี61-62</p>
                  </div>
            </a>
            </div>
            <div class ="pic-area" >
                  <a href="/edu/quiz/socialquiz" >
                  <img src="http://www.kbyala.ac.th/Twork/index1_files/%E0%B8%AA%E0%B8%B1%E0%B8%87%E0%B8%84%E0%B8%A1.jpg" >
                  <div class="text-area">
                        <h2>รวมข้อสอบสังคมศึกษา</h2>
                        <p>ข้อสอบ ONET สังคมศึกษา ปี61-62</p>
                  </div>
            </a>
            </div>
            
      </div>
     
           



</section>
<%- include("partials/footer") %>