<%- include("partials/header") %>
<style>
    .p{
        font-size: 16px;
    }
    .hk{
        font-size: 30px;
    }
    .fb{
        width:auto ;
        height: auto;
        position: relative;
        margin: 4% 0 auto auto;
        background: #fff;
        padding: 5px;
        overflow: hidden;
        opacity: 0.8;
    }
    .hk .imga{
        margin-left: auto;
        margin-right:auto;
        display:block;
    }
     .hk .aaa{
         font-size: 2rem;
         margin-left: auto;
        margin-right:auto;
        display:block;
     }
     @media screen and (max-width:800px) {
        .hero, .form-box, .h1 img, .h1 a{
          width:100%; /* The 
        width is 100%, when the viewport is 800px or smaller */
     }}
    </style>

<br><br><br>
<div class="hero">
    <div class="fb">
     <center>   <div class="h1">
            <h1 class="hk">คู่มือ TCAS63 สำหรับผู้สมัคร นักเรียน โรงเรียน และมหาวิทยาลัย</h1>
            <center><p class="p">ที่ประชุมอธิการบดีแห่งประเทศไทย (ทปอ.) ออกคู่มือระบบการคัดเลือกบุคคลเข้าศึกษาในสถาบันอุดมศึกษา (TCAS) โดยแยกออกเป็นคู่มือสำหรับผู้สมัคร สำหรับโรงเรียน และสำหรับสถาบันอุดมศึกษา ในคู่มือแต่ละเล่มจะมีรายละเอียดต่างกันออกไปเป็นข้อมูลที่แต่ละกลุ่มต้องรู้ เพื่อให้การคัดเลือกเป็นไปได้อย่างราบรื่น น้องๆ ที่กำลังจะสมัคร TCAS63 ก็เข้าไปศึกษาคู่มือกันด้วยนะ
            </p></center>
            <center><img class="imga" src="https://www.admissionpremium.com/uploads/contents/2019110584118.jpg" alt="Paris" width="400" height="400"></center>
           <Br>
            <a class="aaa" href="http://www.admissionpremium.com/uploads/contents/2019110583714.pdf"><center>คู่มือ TCAS63 สำหรับผู้สมัคร ดาวน์โหลด</center></a>
            <Br>
            <a class="aaa" href="http://www.admissionpremium.com/uploads/contents/2019110583727.pdf"><center>คู่มือ TCAS63 สำหรับสถาบันอุดมศึกษา ดาวน์โหลด</center></a>
            <h2>กำหนดข้อตกลงร่วมกันของสถบันอุดมศึกษาในเครือข่าย ทปอ.</h2>
            <p class="p">มีการกำหนดข้อตกลงร่วมกันให้สถาบันอุดมศึกษาในเคลือข่าย ทปอ. จำนวน 31 แห่ง เข้าร่วมในระบบ TCAS ทุกรอบ โดยไม่มีการเปิดรอบใดๆ ที่คู่ขนานกับ TCAS และทำงานภายใต้แนวปฏิบัติกลางร่วมกัน เพื่อความเป็นเอกภาพในการทำงาน</p>
           <center> <img class="imga" src="https://www.admissionpremium.com/uploads/contents/20190911103450.jpg" alt="Paris" width="400" height="550"></center>
           <center><p class="p">ปฏิทินการดำเนินงาน TCAS63 <Br><Br>
                รอบที่ 1 Portfolio <Br>
                รับสมัคร : 2-16 ธ.ค. 62<Br>
                ประกาศผล : 30 ม.ค. 63<Br>
                ยืนยันสิทธิ์ : 30-31 ม.ค. 63<Br>
                สละสิทธิ์ : 1-2 ก.พ. 63<Br><Br>
                รอบที่ 2 โควตา<Br>
                ประกาศรับสมัคร : 6 ก.พ. – 23 มี.ค. 63<Br>
                ประกาศผล : 22 เม.ย. 63<Br>
                ยืนยันสิทธิ์ : 22-23 เม.ย. 63<Br>
                สละสิทธิ์ : 24-25 เม.ย. 63<Br><Br>
                รอบที่ 3 รับตรงร่วมกัน<Br>
                ประกาศรับสมัคร : 17-27 เม.ย. 63<Br>
                ประกาศผล : 8 พ.ค. 63<Br>
                ยืนยันสิทธิ์ : 8-9 พ.ค. 63<Br>
                สัมภาษณ์ (บางสาขา) : 11-15 พ.ค. 63<Br>
                สละสิทธิ์ : 17-18 พ.ค. 63<Br><Br>
                รอบที่ 4 แอดมิชชัน<Br>
                ประกาศรับสมัคร : 7-20 พ.ค. 63<Br>
                ประกาศผล : 29 พ.ค. 63<Br>
                ยืนยันสิทธิ์ : 29-30 พ.ค. 63<Br>
                สัมภาษณ์ (บางสาขา) : 1 – 5 มิ.ย. 63<Br>
                สละสิทธิ์ : 7-8 มิ.ย. 63<Br><Br>
                รอบที่ 5 รับตรงอิสระ<Br>
                ประกาศรับสมัคร : 9 - 30 มิ.ย. 63<Br>
                ประกาศผล : 30 มิ.ย. 63<Br>
                </p></center>
               <center> <img class="imga" src="https://www.admissionpremium.com/uploads/contents/2020031762317.jpg" alt="Paris" width="400" height="550"></center>
               <center></center> <p class="p">กำหนดการสอบ<Br><Br>
                    O-NET<Br>
                    สมัครสอบ : โรงเรียนส่งรายชื่อ<Br>
                    วันสอบ : 29 กุมภาพันธ์ 2563 – 1 มีนาคม 2563<Br>
                    ประกาศผลสอบ : 27 มีนาคม 2563<Br><Br>
                     
                    GAT/PAT<Br>
                    สมัครสอบ : 25 พฤศจิกายน 2562 – 9 ธันวาคม 2562<Br>
                    วันสอบ : 22 – 25 กุมภาพันธ์ 2563<Br>
                    ประกาศผลสอบ : 1 เมษายน 2563<Br><Br>
                     
                    9 วิชาสามัญ<Br>
                    สมัครสอบ : 5 – 19 ธันวาคม 2562<Br>
                    วันสอบ : 14 -15 มีนาคม 2563<Br>
                    ประกาศผลสอบ : 5 เมษายน 2563<Br><Br>
                    
                    กสพท<Br>
                    สมัครสอบวิชาเฉพาะของ กสพท<Br>
                    10 - 31 ตุลาคม 2562<Br><Br>
                    สอบวิชาเฉพาะ กสพท <Br>
                    7 มีนาคม 2563<Br><Br>
                    กสพท ประกาศคะแนนวิชาเฉพาะ<Br>
                    25 มีนาคม 2563<Br><Br>
                    ผู้สมัครเข้าไปตรวจสอบรายชื่อผู้มีสิทธิ์เข้าสอบสัมภาษณ์และตรวจสุขภาพในระบบของ ทปอ.<Br>
                    8 พฤษภาคม 2563<Br><Br>
                    สอบสัมภาษณ์<Br>
                    11-15 พฤษภาคม 2563<Br><Br>
                    ทปอ.ประกาศรายชื่อผู้ผ่านการสอบสัมภาษณ์<Br>
                    17 พฤษภาคม 2563></p></center
        
        </div>
    </div></center>
</div>

<%- include("partials/footer") %>