<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quize</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Thaiquiz.css">
    <script src="Thai1.js" defer></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta http-equiv="Content-Language" content="th">
    <meta http-equiv="content-Type" content="text/html; charset=window-874">
    <meta http-equiv="content-Type" content="text/html; charset=tis-620">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <!-- top section -->
  <div class="intro py-3 bg-warning text-center">
    <div class="container">
      <h2 class="text-white display-3 my-4">แบบทดสอบวิชาภาษาไทย</h2>
    </div>
  </div>
  <!-- result section -->
  <div class="result py-4 d-none bg-info text-center">
    <div class="container lead">
      <p class="text-white lead">Your answers are <span class="text-white display-4 p-3">0%</span> Correct</p>
    </div>
  </div>
  <!-- quiz section -->
  <div class="quiz py-4 bg-secondary">
    <div class="container">
      <h2 class="my-5 text-white">ภาษาไทย 2560</h2>

      <form class="quiz-form text-light">
        <!-- question-1 -->
        <div class="my-5">
            
          <p class="lead font-weight-normal text-white">1.ข้อความต่อไปนี้ผู้พูดมีเจตนาตรงกับข้อใด 
            “พี่คะ กระเป๋าเดินทางใช้เสร็จยังคะ <Br>คือตอนนี้จะใช้แล้วเพราะจะไปต่างจังหวัดถ้าไม่ใช้ขอคืนนะคะไม่มีกระเป๋าใส่เสื้อผ้าค่ะ”</p>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q1" value="A" >
            <label class="form-check-label">ขอ</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q1" value="B">
            <label class="form-check-label">สั่ง</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q1" value="C">
            <label class="form-check-label">ทวง</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q1" value="D">
            <label class="form-check-label">ถาม</label>
          </div>

        </div>
        <!-- question-2 -->
        <div class="my-5">
          <p class="lead font-weight-normal">2.คำที่มีรูปวรรณยุกต์ในข้อใดใช้รูปวรรณยุกต์กับเสียงวรรณยุกต์ตรงกันทุกคำ</p>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q2" value="A" >
            <label class="form-check-label">ดังไฟฟ้าผ่าดวงมาโนช</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q2" value="B">
            <label class="form-check-label">หมู่เสนาต่างเฝ้าประจำองค์</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q2" value="C">
            <label class="form-check-label">สำเนียงโห่ลั่นเหล้าไม่ฝ่าฝืน</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q2" value="D">
            <label class="form-check-label">คีรีนี้ล้วนแก้วมณีโชติ</label>
          </div>
        </div>
        <!-- question-3 -->
        <div class="my-5">
          <p class="lead font-weight-normal">3.ข้อใดไม่มีคำที่มีตัวสะกดในแม่กด</p>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q3" value="A" >
            <label class="form-check-label">ไม่สนทนากันเสียงดัง เมื่อมีบุคคลอื่นอยู่ในลิฟต์</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q3" value="B">
            <label class="form-check-label">.มารยาทในการใช้ลิฟท์เป็นสิ่งสำคัญ</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q3" value="C">
            <label class="form-check-label">ไม่ควรใช้ให้คนอื่นกดชั้นที่จะไปในขณะที่มือว่าง</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q3" value="D">
            <label class="form-check-label">เมื่อลิฟต์เปิดควรเดินออกทันทีไม่ก้มหน้าอ่านข้อความในมือถือ
            </label>
          </div>

        </div>
        <!-- question-4 -->
        <div class="my-5">
          <p class="lead font-weight-normal">4.ข้อความต่อไปนี้มีคำที่มีอักษรนำกี่คำ<Br>
            พร้อมเพย์ (Prompt Pat) คือการทำธุรกรรมทางการเงินแบบใหม่ที่ทุกคนควรแสวงหาความรู้ <Br>และทำความเข้าใจว่าหนึ่งเบอร์โทรศัพท์จพผูกกับหลายธนาคารได้หรือไม่ สามารถลงทะเบียนได้ที่ไหน <Br>และลงทะเบียนอย่างไร</p>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q4" value="A" >
            <label class="form-check-label">4 คำ</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q4" value="B">
            <label class="form-check-label">5 คำ</label>
          </div>

          <div class="form-check my-2 text-white">
            <input type="radio" name="q4" value="C">
            <label class="form-check-label">6 คำ</label>
          </div>
          <div class="form-check my-2 text-white">
            <input type="radio" name="q4" value="D">
            <label class="form-check-label">7 คำ</label>
          </div>
        </div>

        
        <div class="text-center">
          <input type="submit" class="btn btn-light">
        </div>
      </form>

    </div>
  </div>
<script>
    const correctAnswers = ['A','A','A','A'];
const form = document.querySelector('.quiz-form');
const result = document.querySelector('.result');

form.addEventListener('submit', e => {
  let score = 0;
  let userAnswers = [form.q1.value, form.q2.value, form.q3.value, form.q4.value];

  // check answers
  userAnswers.forEach((answer, index) => {
    if(answer === correctAnswers[index])
    {
      score += 25;
    }
  })
  // showing result on the page with animation
  let output = 0;
  const timer = setInterval(() => {
    result.querySelector('span').innerText = `${output}%`;
    if(output === score) {
      clearInterval(timer);
    } else {
      output++;
    }
  }, 10);
  
  result.classList.remove('d-none');
  scrollTo(0,0);

  e.preventDefault();
})
</script>
  
</body>

</html>