<!DOCTYPE html>
<html lang= "en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minium-scale=1.0"> 
    <meta http-equiv= "x-ua-compatible" content = "ie-edge">
    <title>Multi Level Dropdown</title>
    <!--Ion icons-->
    <link href="http://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel ="stylesheet">
    <link rel="stylesheet" type="text/css" href="/project1.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta http-equiv="Content-Language" content="th">
    <meta http-equiv="content-Type" content="text/html; charset=window-874">
    <meta http-equiv="content-Type" content="text/html; charset=tis-620">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <base href="/"> 
   
 
</head>
<body class="hero">

    <header>
        <div class="container">
            <nav > 
                <div class="menu-icons">
                    <i class="icon ion-md-menu"></i>
                    <i class="icon ion-md-close"></i>
                </div>
                <a href="project1.html" class="logo">
                    <i class="fas fa-book"></i>
                </a>
                <ul class="nav-list">
                    <li>
                        <a class="actives" href="/admin">Home</a>
                    </li>
                    <li>
                        <a class="actives" href="/admin/quiz">Quiz
                            <i class="icon ion-md-arrow-dropdown"></i>
                        </a>
                    </li>
                    <li>
                        <a class="actives" href="/edu">คลังบทเรียน
                            <i class="icon ion-md-arrow-dropdown"></i>
                        </a>
                    </li>
                   
                    <li>
                        <a class="actives" href="/edu">รายละเอียดการสอบเข้า
                            <i class="icon ion-md-arrow-dropdown"></i>
                        </a>
                    </li>
                    <li>
                        <a class="actives" href="#">รีวิวคณะ</a>
                    </li>
                    <li>
                        <a class="actives" href="/admin/postmange">ชุมชน</a>
                    </li>
                    <li>
                        <a class="actives" href="/admin/user">สมาชิก</a>
                    </li>
                    
                   <% if (!currentUser){%>
                    <li class ="move-right btn">
                        <a href="/login"><center>LOGIN</center></a>
                    </li>
                    <li class ="move-rightsecond btn">
                        <a href="/signup"><center>REGISTER</center></a>
                    </li>
                <% } else{ %>
                    <li class ="move-right btn">
                        <a href="/profile"> <center><%= currentUser.username%></center></a>
                    </li>
                    <li class ="move-rightsecond btn">
                        <a href="/logout"><center>LOGOUT</center></a>
                    </li>
              <%  } %>
           
                </ul>
            </nav>
            <% if(error && error.length > 0){ %>
                <div class="alert">
                <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert success">
                <%= success %>
            </div>
            <% } %>
        </div>
    </header>
<!--End nav-->
<!--Hero-->

<script>
    const selectElement = (element) => document.querySelector(element);
    selectElement(element = '.menu-icon'),addEventListener(type ='click', listener = () => {
        selectElement(element  = 'nav').classList.toggle( token  = 'active');
    });
</script>

<br><br><br><br><br><br>
<section class="hero">
 <br><br> <br><br> <br><br>
  <h3 style="font-size: 25px;color: white;text-align: center;">มาสร้างกระทู้กันเถอะ</h3>
  <br><br>
  <div class="social">
    <form action="/admin/quiz"  method="POST">
      <label for="fname">Name</label>
      <input type="text" id="fname"name="nametopic" placeholder="Name">
  
      <label for="lname">detail</label>
      <input type="text" id="lname" name="desctopic" placeholder="detail">
    
      <input type="submit" value="Submit">
      <center><a href="#">add question</a></center>
    </form>
  </div>
</section>

</body>
</html>